@model _7_Pagination.Models.IndexViewModel

<style>
.glyphicon { display: inline-block; padding:0 5px;}
.glyphicon-chevron-right:after { content: "\00BB"; }
.glyphicon-chevron-left:before { content: "\00AB"; }
</style>

<h2>Список пользователей:</h2>
<table>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Компания</th>
    </tr>
    @foreach (var item in @Model.Users)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Company!.Name</td>
        </tr>
    }
</table>
<p>
    @if (@Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action=Index asp-route-page=@(Model.PageViewModel.PageNumber - 1)
        class="glyphicon glyphicon-chevron-left">Назад</a>
    }
    @if (@Model.PageViewModel.HasNextPage)
    {
        <a asp-action=Index asp-route-page=@(Model.PageViewModel.PageNumber + 1)
        class="glyphicon glyphicon-chevron-right">Вперед</a>
    }
</p>
